<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Recipe Boss</title>

    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.ico">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>app-logo.png" />
    <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>app-logo.png" />

    <link href="<%= BASE_URL %>vanilla.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but recipe-boss doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
